body {
    margin: 0;
    background-color: #050505;
    font-family: "Outfit", sans-serif;
    color: #fff;
}

body::before{
  content:"";
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: .10;
  background-image:
    linear-gradient(90deg, rgba(255, 255, 255, 0.144) 1px, transparent 1px),
    linear-gradient(0deg, rgba(255, 255, 255, 0.11) 1px, transparent 1px);
  background-size: 56px 56px;
}




/* -------------------------------------------------------------- */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}



.logo img {
    width: 100px;
    filter: invert(1);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

nav ul li {
        list-style: none;
}

nav ul li a {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #fff;
    h1 {
        font-size: 15px;
        transform: scale(0.5);
        opacity: 0;
        transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    i {
        transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: translateX(3vw) scale(1.2);
        opacity: 0.5;
    }
}

nav ul li a:hover {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    h1 {
        font-size: 15px;
        transform: scale(1);
        opacity: 1;
    }
        i {
        transform: translateX(0vw) scale(1);
        opacity: 1;
    }
}














/* --------------------cover------------------ */


.cover {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.cover_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lema_cover {
    display: flex;
    flex-direction: row;
    gap: 15vw;
    position: sticky;
    top: 1px;
    p{
        font-size: 15px;
        letter-spacing: 1rem;
    }
}

.title_cover {
    position: sticky;
    top: 50px;
}


.title_cover h1{
    color: #fff;
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
    transform: scale(5.5) translateY(15%);
    
}

.img_cover {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.orb {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: radial-gradient(circle,rgba(255, 232, 181, 1) 0%, rgba(255, 106, 0, 1) 35%, rgba(0, 0, 0, 1) 100%);
    border-radius: 50px;
    filter: blur(55px) brightness(2);
    mix-blend-mode: lighten;
    animation: img_cover_loop 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.orb:hover {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: radial-gradient(circle,rgba(255, 232, 181, 1) 0%, rgba(255, 106, 0, 1) 35%, rgba(0, 0, 0, 1) 100%);
    border-radius: 50px;
    filter: blur(55px) brightness(2);
    mix-blend-mode: lighten;
    animation: img_cover_loop_hover 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.img_cover img {
      position: absolute;
    width: 100px;
    transform: scale(3.5) translateY(5%);
    animation: img_cover_loop 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
    transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes img_cover_loop {
    0% {
    transform: scale(3.5) translateY(0%);
    }

    50% {
    transform: scale(3.5) translateY(5%);
    }

    100% {
    transform: scale(3.5) translateY(0%);
    }

}

.img_cover img:hover {
    width: 100px;
    transform: scale(3.5) translateY(5%);
    animation: img_cover_loop_hover 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}


@keyframes img_cover_loop_hover {
    0% {
    transform: scale(3.5) translateY(0%);
    }

    50% {
    transform: scale(3.6) translateY(0%);
    }

    100% {
    transform: scale(3.5) translateY(0%);
    }

}