
/* * {
    border: solid 1px red;
} */



html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #000;
    color: #F3F4F5;
    font-family: Arial, Helvetica, sans-serif;
    
}

#circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
}

.language-selector {
    position: fixed;
    top: 10px;
    right: 10px;
}

.language-selector button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 1em;
}

.language-selector button:hover {
    background: #0056b3;
}

.fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: .5;
    z-index: -999;

}

.fondo img {
    opacity: .4;
}


.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;


}

.overlay img {
    opacity: 0;
    scale: 2;
    width: 50%;
    height: 100%;
    mix-blend-mode: d;

}



header {
    display: flex;
    flex-direction: column;
    z-index: 999;
    align-items: center;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: center;
    text-align: center;
    position: fixed;
    transform: translateY(19px);
    z-index: 999;
}

.logo img {
    max-width: 90px;
    filter: contrast(0%)  brightness(300%) ;
    transform: translateX(-599px);
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}



nav a {
    color: #ececec;
    text-decoration: none;
    transform: translateX(599px);
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    padding: 15px 20px;
    border-radius: 50px;
    background: #00000038;
    transition: all .3s ease-in-out;
    backdrop-filter: blur(2.5px) url(#filtroVidrioMascara) url(#chromatic-aberration) ;
    box-shadow: inset 0 0 3px .5px #ffffff2d;
    border-top: 1.5px  solid #ffffff73;
}


nav a:hover {
    background: #e66d4f;
    color: #fff;
    transform: translateX(590px);
}







.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main {

    width: 100%;
}


.descripcion {
    display: flex;
    flex-direction: row;
    gap: 255px;
    color: #ececec;
    transform: translateY(150px);
}

.descripcion h2 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
}



.liqid-glass {
    display: flex;
    justify-content: center;
    align-items: center ;
    top: 10px;

    width: 100%;
    margin: 0;

}


.liqid-banner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: fixed;
    transform: translateY(-190px);
    background: #00000007;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
    padding: 15px 15px;
    border-radius: 100px;
    border-top: 1.5px  solid #ffffff73;
    backdrop-filter: blur(2.5px) url(#filtroVidrioMascara) url(#chromatic-aberration) ;
    box-shadow: inset 0 0 3px .5px #ffffff2d;
    filter: brightness(1);
    
}

.liqid-banner:hover {
    padding: 15px 20px;
    box-shadow: inset 0 0 5px .5px #ffffff5d;
    filter: brightness(1.2);
}


.mini-nav {
    background: #00000027;
    display: flex;
    justify-content: center ;
    align-items: center;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 10px;
    border-radius: 100px;
     border-top: 1.5px  solid #ffffff73;
    backdrop-filter: blur(4.5px) url(#filtroVidrioMascara) url(#chromatic-aberration) ;
    box-shadow: inset 0 0 3px .5px #ffffff2d;
}

.mini-nav:hover {
    background: #00000065;
    padding: 20px;
    box-shadow: inset 0 0 5px .5px #ffffff5d;
    
    img {
        opacity: 1;
        filter: invert(1) drop-shadow(5px 5px 10px rgb(255, 255, 255)) brightness(5);
    }
}

.mini-nav img {
    width: 25px;
    filter: invert(1) drop-shadow(0px 0px 0px rgba(255, 255, 255, 0)) brightness(1);
    opacity: 0.5;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}





.main h1 {
    color: #ececec;
    font-size: 25px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    scale: 8;
    z-index: -5;
    transform: translateY(25px);
}

.mano img {
    max-width: 60px;
    scale: 6;
    transform: translateY(65px);
    filter: drop-shadow(0px  0px 25px #f6be695b) brightness(105%);
    animation: mano 3s ease-in-out infinite;
    z-index: 9;

}


@keyframes mano {
    0% {
        transform: translateY(65px);
    }

    50% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(65px);
    }
}



.botonscroll {
    text-decoration: none;
    font-family: "Bitcount Grid Double", system-ui;
    color: #ffffff;
    background: #0000004b;
    padding: 10px 15px;
    border-radius: 50px;
    z-index: 10;
    backdrop-filter: blur(2.5px) url(#filtroVidrioMascara) url(#chromatic-aberration) ;
    box-shadow: inset 0 0 3px .5px #ffffff2d;
    border-top: 1.5px  solid #ffffff73;
    cursor: pointer;
    transform: translateY(385px);
    filter: brightness(1.2);
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    scale: 1;

}

.botonscroll:hover {
    padding: 10px 45px;
    scale: 1.1;
        transform: translateY(352px);
}

.botonscroll img {
    max-width: 35px;

}






@keyframes show {
    from {
        transform: translateY(25px);
    }

    to{
        transform: translateY(0);
    }
}






.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 600px;

}


.ipad {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: mano 3s ease-in-out infinite;
}


.ipad h1 {
    color: #ececec;
    font-size: 20px;
    font-family:  sans-serif;
    font-weight: 900;
    font-style: bold;
    scale: 5;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: titulo;
    animation-range: entry 25% cover 80%;
    animation-fill-mode: both;
}


.ipad img {
    max-width: 700px;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: ipad;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    z-index: 999;
   
}




@keyframes ipad {
    from {
        transform: scale(1.5) perspective(1850px) rotateX(40deg) translateY(-156px);
    }

    to {
        transform: scale(1) perspective(1850px) rotateX(0deg) translateY(0px);

    

    }
}


@keyframes titulo {
    from {
        transform: translateY(-25px);
        color: #E66C4F;
    }

    to {
        transform: translateY(3px);
    }
}


.ipad p {
    text-align: center;
    color: #ececec;
    font-size: 15px;
    transform: translateX(0px) translateY(0px); 
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: pipad;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
}


@keyframes pipad {
    from {
        opacity: 0;
        transform: translateX(0x) translateY(150px);
    }

    to {
        transform: translateX(0px) translateY(0px);

    }
}

.contenedor-tarjetas {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        font-size: 58px;
        font-family:  sans-serif;
        font-weight: 900;
        font-style: bold;
        view-timeline-name: --image;
        view-timeline-axis: block ;
        animation-timeline: --image;
        animation-name: Tarjetas-scroll;
        animation-range: entry 0% cover 50%;
        animation-fill-mode: both;
    }

}

.tarjeta-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: Tarjetas-scroll;
    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
}

.tarjeta {
    width: 700px;
    height: 300px;
    background: url(../img/Proyecto\ 2.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    perspective: 1000px;
    display: flex;
    position: relative;
    align-items: end;
    z-index: 1;

}


.tarjeta:last-child {
    width: 700px;
    height: 300px;
    background: url(../img/Proyecto\ 1.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    perspective: 1000px;
}

.tarjeta:hover {
    transform: rotateY(15deg) rotateX(15deg);
    .tarjeta-contenido {
        display: flex;
        flex-direction: column;
        background: #0000004b;
        width: 100%;
        padding: 20px;

    }
}

.tarjeta-contenido {
    display: none;
    flex-direction: column;
    background: #0000004b;
    width: 100%;
    padding: 20px;
    animation: Tarjetas 1s ease-in-out both;

}


@keyframes Tarjetas {
    from {
        opacity: 0;
        filter: blur(1px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes Tarjetas-scroll {
    from {
        scale: 0;
        opacity: 0;
        filter: blur(1px);
    }
    to {
        scale: 1;
        opacity: 1;
        filter: blur(0);
    }
}

h2 {
    margin: 0;
}

p {
    margin-top: 10px;
    color: #ffffffbe;
}



.card-container {
    display: flex;
    gap: 20px;
    transform: scale(0.9);
    animation: scaleUp 0.5s forwards;
    justify-content: center;
    margin: 15% 0;
}

@keyframes scaleUp {
    to {
        transform: scale(1);
    }
}

.card {
    background: #00000000;
    border-radius: 25px;
    border-top: 1.5px  solid #ffffff73;
    backdrop-filter: blur(1.5px) url(#filtroVidrioMascara) url(#chromatic-aberration) ;
    box-shadow: inset 0 0 3px .5px #ffffff2d;
    filter: brightness(1);
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: inset 0 0 5px .5px #ffffff60;
}

.card i {
    font-size: 3em;
    color: #007BFF;
    margin-bottom: 10px;
}

.card h2 {
    margin: 0;
    font-size: 1.5em;
}

.card .price {
    font-size: 2em;
    color: #bbb;
    margin: 10px 0;
}

.card p {
    color: #999;
    margin: 5px 0;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #007bff80;
    border-top: 1.5px  solid #ffffffa2;
    backdrop-filter: blur(2.5px) url(#filtroVidrioMascara) url(#chromatic-aberration) ;
    box-shadow: inset 0 0 3px .5px #ffffff2d;
    filter: brightness(1.2);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 1em;
    margin-top: 15%;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    scale: 1;
}

.btn:hover {
    background: #0056b3;
    box-shadow: inset 0 0 5px .5px #ffffff9d;
    filter: brightness(1.5);
    scale: 1.2;
}





.proximos-juegos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.titulo {
    font-size: 55px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    scale: 1.4;
}




.games-card {
    max-width: 600px;
    height: 700px;
    background: #00000017;
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    backdrop-filter: blur(2.5px) url(#filtroVidrioMascara) url(#chromatic-aberration) ;
    box-shadow: inset 0 0 3px .5px #ffffff2d;
    border-top: 1.5px  solid #ffffff73;
    border-radius: 60px;
}


.game {
    width: 550px;
    height: 350px;
    border-radius: 50px;
    background: url(../img/game.webp);
    background-size: cover;
    background-position: center;
    opacity: 1;
    position: relative; /* importante para el ::after */
    box-shadow: inset 0 0 3px .5px #ffffff2d;
    border-top: 1.5px  solid #ffffff73;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.game:hover {
    box-shadow: inset 0 0 10px .5px #ffffff5d;

}

.game::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    border-radius: 40px;
    filter: blur(25px);
    z-index: -5;
    pointer-events: none; 
}


.game2 {
    width: 570px;
    height: 350px;
    border-radius: 50px;
    background: url(../img/game2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
    position: relative; /* importante para el ::after */
    box-shadow: inset 0 0 3px .5px #ffffff2d;
    border-top: 1.5px  solid #ffffff73;
    margin: 25px;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.game2:hover {
    box-shadow: inset 0 0 10px .5px #ffffff5d;

}

.game2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    border-radius: 40px;
    filter: blur(25px);
    z-index: -1;
    pointer-events: none; 
}








.container-laptop {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center ;
    align-items: center;
}


.laptop {
    width: 100%;
}


.laptop-img {
    width: 100%;
    pointer-events: none;
    animation: laptop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0 1 forwards ; 
    /* view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: laptop;
    animation-range: entry 25% cover 100% ;
    animation-fill-mode: forwards; */
}


.contenedor-jugando {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.jugando {
    width: 100%;
    top: 1px;
    position: sticky;
    z-index: -1;
}


.espaciado {
    width: 100%;
    height: 10px;
    z-index: -2px;
}

.espaciado2 {
    width: 100%;
    height: 600px;
    z-index: -2px;
}




.titulo-jugando {
    font-size: 155px;
    color: #ffffff;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    

}


.jugar {
    z-index: 3;
    text-decoration: none;
    font-size: 50px;
    color: #ffffff73;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    background: #00000000;
    padding: 0 35px;
    border-radius: 100px;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    backdrop-filter: blur(2.5px) url(#filtroVidrioMascara) url(#chromatic-aberration) ;
    box-shadow: inset 0 0 3px .5px #ffffff2d;
    border-top: 1.5px  solid #ffffff73;
    filter: brightness(1);


}


.jugar:hover {
    box-shadow: inset 0 -5px 15px .5px #ffffff2d;
    filter: brightness(1.3);
    padding: 0px 75px;
    color: #fff;
}



.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-family: sans-serif;
  font-size: 14px;
}
